<?xml version="1.0"?>

-<beans xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">

<context:component-scan base-package="com.cn.entity"/>

<context:component-scan base-package="com.cn.achieve"/>

<context:component-scan base-package="com.cn.dao"/>

<context:component-scan base-package="com.cn.service"/>

<context:component-scan base-package="com.cn.interceptor"/>


-<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">

<property value="com.mysql.jdbc.Driver" name="driverClassName"/>

<property value="jdbc:mysql://localhost:3306/mybatis" name="url"/>

<property value="root" name="username"/>

<property value="123456" name="password"/>

</bean>


-<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">

<property value="com.cn.dao" name="basePackage"/>

<property value="SqlSessionFactory" name="SqlSessionFactoryBeanName"/>

</bean>


-<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="SqlSessionFactory">

<property name="dataSource" ref="dataSource"/>

<property value="classpath:com/**/mappers/*.xml" name="mapperLocations"/>

</bean>

</beans>
